<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr"><!-- Source is http://mass.sinytechserver.com/ -->
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>MITSUBISHI MOTORS</title>
		<link type="text/css" rel="stylesheet" media="all" href="/images/styles.css" />
		<!--[if lt IE 7]>
			<link type="text/css" rel="stylesheet" media="all" href="/images/fix-ie.css" />    
		<![endif]-->
	</head>
	<body>

        <div id="fb-root"></div>
        <script>
          window.fbAsyncInit = function() {
            FB.init({
              appId      : '459968644048317', // App ID
              channelUrl : '//mistubishi-tab.herokuapp.com//channel.html', // Channel File
              status     : true, // check login status
              cookie     : true, // enable cookies to allow the server to access the session
              xfbml      : true  // parse XFBML
            });

            FB.Canvas.setAutoGrow();
          };

          // Load the SDK Asynchronously
          (function(d){
             var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
             if (d.getElementById(id)) {return;}
             js = d.createElement('script'); js.id = id; js.async = true;
             js.src = "//connect.facebook.net/en_US/all.js";
             ref.parentNode.insertBefore(js, ref);
           }(document));
        </script>

		<!-- Layout -->
        
        <div id="wrapper">
            
            <!-- Header -->
            <div id="header">
                
                <div id="logo">
                    <a href="#"><img src="/images/logo.png" alt="MITSUBISHI MOTORS" /></a>
                </div>
                
                <div id="header-image"></div>
            </div>
            <!-- /Header -->
            
            <!-- Container -->
			<div id="container">
                    
                <!-- Content -->
                <div id="squeeze" class="bg-with-picture">
                
                    <!-- Content Body -->
                    <div id="block-main-links">
                        <a href="https://www.facebook.com/crazyjapan/app_217480584980204?app_data=tehno" target="top" class="link-1">Техно-Журнал</a>
                        <a href="http://www.mitsubishi-motors.ru/for-byers/construct/" target=_"top" class="link-2">Расчитать Стоимость Mitsubishi</a>
                        <a href="#" class="link-3">Фан Клубы</a>
                        <div class="link-31">
                            <a href="http://out-club.ru/" target=_"top" class="link-331">Территория Mitsubishi</a>
                            <a href="http://pajero4x4.ru/bbs/phpBB2/index.php" target=_"top" class="link-332">Mitsubishi Pajero</a>
                            <a href="http://www.mitsubishi-asx.net/" target=_"top" class="link-333">Mitsubishi ASX</a>
                            <a href="http://www.dsm-club.ru/" target=_"top" class="link-334">Mitsubishi Eclipse</a>
                            <a href="http://www.lancer.com.ru/" target=_"top" class="link-335">Mitsubishi Lancer</a>
                        </div>
                        <a href="http://www.mitsubishi-motors.ru/news/" target="top" class="link-4">Новости Mitsubishi</a>
                        <a href="http://www.mitsubishi-motors.ru/" target=_"top" class="link-5">Официальный сайт</a>
                        <a href="http://www.mitsubishi-motors.ru/" target="top" class="link-6">Модельный ряд Mitsubishi</a>
                        <a href="http://www.mitsubishi-motors.ru/for-byers/dealers/" target="top" class="link-7">Контакты</a>
                        <a href="#" class="link-8">Развлечения</a>
                    </div>
                    <!-- /Content Body -->
                    
                    <div class="clear-block">&nbsp;</div>
                </div>
                <!-- /Content -->

                <div class="clear-block">&nbsp;</div>
                 
            </div>
            <!-- /Container -->
            
            <!-- Footer -->
            <div id="footer">
            
                <!-- Japan Block -->
                <div id="columns-japan">
                    <div class="column-1">
                        <a href="http://www.facebook.com/crazyjapan" target="top" class="img-japan"><img src="/images/crazy-japan.jpg" alt="Cообщество про удивительную Японию" height="76px" width="117px" /></a>
                        <a href="http://www.facebook.com/crazyjapan" target="top">Cообщество про удивительную Японию</a>
                    </div>
                    <div class="column-2">
                        <a href="http://www.crazy-japan.ru/" target="top" class="img-japan"><img src="/images/japan-city.jpg" alt="Программа «Япония в городе»" height="74px" width="111px" /></a>
                        <a href="http://www.crazy-japan.ru/" target="top">Программа «Япония в городе»</a>
                    </div>
                    <div class="column-3">
                        <a href="http://apps.facebook.com/game_go/" class="img-japan"><img src="/images/game-go.jpg" alt="Игра ГО" height="76px" width="81px" /></a>
                        <a href="http://apps.facebook.com/game_go/">Игра ГО</a>
                    </div>
                </div>
                <!-- /Japan Block -->
                               
                <!-- Copyrights -->
                <div id="copyright">
                </div>
                <!-- /Copyrights -->
            
            </div>
            <!-- /Footer -->
            
		</div>		
		<!-- /layout -->
	</body>
</html>